.pic1{
    position: relative;
    background-color: rgb(42, 96, 195);
    width: 100%;
    height: 150px;
}

.pic2{
    position: relative;
    background-color: rgb(37, 80, 107);
    width: 100%;
    height: 200px;
}

/* img{
    width: 100%;
    height: 200px;
} */

/* .lanzhouU{
    height: 200px;
} */

.title{
    font-size: 40px;
}

@media only screen{
    @media (max-width: 768px){
        .pic1 {
            position: relative;
            /* left: 0%; */
            width: 90%;
            height: auto;
            left: 5%;
            /* width: 20%; */
            /* z-index: -999; */
            /* display: none; */
        }
        
        
    }
}
    