.fp{
    position: absolute;
    left: 0%;
    width: 100%;
} 

.ArXiv h1{
    font-size: 50px;
    color: rgb(255,255,255);
    background-color: rgb(179,27,27);
}

.IGive h1{
    font-size: 50px;
    color: rgb(255,255,255);
    background-color: rgb(67,71,81);
}


.seminarHost h1{
    font-size: 50px;
    color: rgb(255,255,255);
    background-color: rgb(219,185,157);
}

.Week h1{
    font-size: 50px;
    color: rgb(255,255,255);
    background-color: rgb(153,170,202);
}
